body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f2f5;
}

header {
    background-color: #1B1F3B;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

main {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-left: 600px;
    margin-top: 45px;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}
input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}
textarea {
    height: 100px;
    resize: vertical;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1B1F3B;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: green;
}
@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
    input, textarea, button {
        font-size: 14px;
        padding: 8px;
    }
}




footer {
    background-color: #1B1F3B;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}