body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.name{
    text-decoration: none;
    color:#007bff ;
}
header {
    background-color: blue;
    color: #fff;
    padding: 15px 0;
    padding-left: 300px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

main {
    padding: 30px;
    text-align: center;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.sports_div {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 20px;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s;
}

.sports_div:hover {
    transform: scale(1.05);
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image:hover img {
    filter: blur(4px);
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sports_div:hover .overlay {
    opacity: 1;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.sports_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.football_img{
    margin-left: 10px;
}

.sports_div {
    width: 45%; 
    margin: 10px;
    text-align: center;
}
.rugby_img{
    width: 650px;
}

.search-container {
    display: inline-block;
    margin-left: auto;
}
#search-bar {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#search-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.sport_name{
    padding-left: 700px;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
    
    .sports_div {
        flex: 1 1 calc(100% - 20px);
    }
}